<div class="root">
    <div *ngIf="maze">
        <table>
            <tr *ngFor="let row of maze.map; index as i">
                <td *ngFor="let cell of row; index as j" title="{{ i }},{{ j }}">
                    {{ isCurrentLocation(j, i) ? "🤖" : cell }}
                </td>
            </tr>
        </table>
        <a routerLink="" routerLinkActive="active">Quit</a>
        <div>Maze: {{ maze.name }}</div>
        <div>Moves: {{ moves.length }}</div>
        <div *ngIf="isComplete()">🎉Yuuuuuuuus🎉</div>
        <button (click)="onMove(0)">↑</button>
        <button (click)="onMove(1)">→</button>
        <button (click)="onMove(2)">↓</button>
        <button (click)="onMove(3)">←</button>
    </div>
</div>
